/* styles/Gallery.css */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
  }

  /* styles/ImageModal.css */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal img {
    max-width: 100%;
    max-height: 100%;
  }
  